/* Адаптив */
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

/* Шрифты */
$fontRegular: "Onest-Regular", sans-serif;
$fontMedium: "Onest-Medium", sans-serif;

/* Основные цвета */
$bodyBg: #ffffff;
$quizBg: #CAFFA0;

$elementDeign: #383838;
$elementActive: #f5f5f5;

$textColor: #383838;
$noteColor: #9B9B9B;